@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Index>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">@Umbraco.Field("heroText")</h1>
    </div>
</div>

<section class="section--themed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Umbraco.Field("pageTitle")</h2>
                @Umbraco.Field("pageContent")
                <hr/>
            </div>
            
            <div class="col-md-12">
                @Html.GetGridHtml(Model.Content, "pageServices")
            </div>
        <hr />
        </div>
    </div>
</section>

<section class="section section--themed">
    @foreach(var obj in selection)
    {
        if(@obj.GetPropertyValue("pageTitle").ToString() != "Tjänster"
            && @obj.GetPropertyValue("pageTitle").ToString() != "Services")
        { 
        <div class="container">
            <div class="col-md-12">
                <br>
                <h2>@obj.GetPropertyValue("pageTitle")</h2>
                <p>@obj.GetPropertyValue("pageDescription")</p>
                <a href="@obj.Url">@Umbraco.GetDictionaryValue("ServicesBlogReadMore")</a>
                <br>
                <br>
            </div>
        </div>
        }
    }
</section>